.bug-card{
    background-color: var(--card-color);
    box-shadow: 2px 2px 2px var(--prim-color);
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
}

.bug-card :hover{
    transition: all 0.3s;
    transform: scale(1.05);
}